@model Order

@{
    ViewData["Title"] = "Purchase Your Dream Vehicle";
}

<br>
<h2 style="text-align: center; text-decoration-line: underline;">Enter Your Personal Information To Complete Your Order</h2>
<br>
<form asp-action="btCreateOrder" asp-route-id = "@ViewBag.VehicleDetail.VehicleID" asp-controller="Order" method="POST">
    <div class="form-group row">
        <span asp-validation-for="CustomerFirstName"></span>
        <label asp-for="CustomerFirstName" class="col-sm-2 col-form-label"></label>
        <input type="text" asp-for="CustomerFirstName" >
    </div>
    <div class="form-group row">
        <span asp-validation-for="CustomerLastName"></span>
        <label asp-for="CustomerLastName" class="col-sm-2 col-form-label"></label>
        <input type="text" asp-for="CustomerLastName" >
    </div>
    <div class="form-group row">
        <span asp-validation-for="CustomerEmail"></span>
        <label asp-for="CustomerEmail" class="col-sm-2 col-form-label"></label>
        <input type="text" asp-for="CustomerEmail" >
    </div>
    <input type="submit" class="btn btn-success" value="Finalize Purchase">
</form>
<br>
<h3>In Cart: <em>@ViewBag.VehicleDetail.Year @ViewBag.VehicleDetail.Make @ViewBag.VehicleDetail.Model</em></h3>
<h4>Vehicle ID: <em>@ViewBag.VehicleDetail.VehicleID</em></h4>
<h4>Color: <em>@ViewBag.VehicleDetail.Color</em></h4>
<h4>Mileage: <em>@ViewBag.VehicleDetail.Mileage Miles</em></h4>
<h4>Vehicle-Type: <em>@ViewBag.VehicleDetail.VehicleType</em></h4>
<h4>Engine-Type: <em>@ViewBag.VehicleDetail.EngineType</em></h4>
<h4>Number of Seats: <em>@ViewBag.VehicleDetail.NumberOfSeats</em></h4>
<h4>Price: <em>$@Math.Round(@ViewBag.VehicleDetail.Price, 2)</em></h4>