@model Order 

@{
    ViewData["Title"] = "Purchase Confirmation";
}

<br>
<h1 style="text-align: center; text-decoration-line: underline">Congratulations, @ViewBag.OrderDetail.CustomerFirstName!</h1>
<h2 style="text-align: center;">You are the new owner of the <em>@ViewBag.OrderDetail.VehicleName</em> we had for sale!</h2>
<br>
<h3>Our Payments & Financing Department will be reaching out to the email you provided within the next 24-48hrs to complete your transaction.</h3>
<br>
<h3><em>Don't worry</em>, we have already taken the @ViewBag.OrderDetail.VehicleName off the purchasing list and will hold it for you until all payment arrangements are finalized.</h3>
<br>
<h2 style="text-align: center; text-decoration-line: underline">We greatly appreciate the opportunity to sell you your dream vehicle, thank you for using <em>Elysian Motors</em>!</h2>
<br>
<h3 style="border: 2px solid white; display:inline-block;">Your Order Details:</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><em>Order Id</em></th>
            <th scope="col"><em>Vehicle Id</em></th>
            <th scope="col"><em>Purchased Vehicle</em></th>
            <th scope="col"><em>Purchaser First Name</em></th>
            <th scope="col"><em>Purchaser Last Name</em></th>
            <th scope="col"><em>Purchaser Contact Email</em></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.OrderDetail.OrderId</td>
            <td>@ViewBag.OrderDetail.VehicleID</td>
            <td>@ViewBag.OrderDetail.VehicleName</td>
            <td>@ViewBag.OrderDetail.CustomerFirstName</td>
            <td>@ViewBag.OrderDetail.CustomerLastName</td>
            <td>@ViewBag.OrderDetail.CustomerEmail</td>

        </tr>
    </tbody>
</table>
<button class="btn btn-warning" style="width:250px; height: 50px; font-size:20px; margin-left: 35%;"><a href="/">Return To Home Page</a></button>