@model Vehicle

@{
    ViewData["Title"] = "Vehicle List";
}

<br>
<div class="header">
    <h1>Vehicles For Sale</h1>
    <h3><em>.....Your Dream Vehicle Awaits</em></h3>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><em>Year</em></th>
            <th scope="col"><em>Make</em></th>
            <th scope="col"><em>Model</em></th>
            <th scope="col"><em>Color</em></th>
            <th scope="col"><em>Mileage</em></th>
            <th scope="col"><em>Type</em></th>
            <th scope="col"><em>Engine</em></th>
            <th scope="col"><em>Seats</em></th>
            <th scope="col"><em>Price</em></th>
            <th scope="col"><em>Details</em></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var v in ViewBag.AllVehicles)
        {
            <tr style="border: 2px solid white">
                <td>@v.Year</td>
                <td>@v.Make</td>
                <td>@v.Model</td>
                <td>@v.Color</td>
                <td>@v.Mileage</td>
                <td>@v.VehicleType</td>
                <td>@v.EngineType</td>
                <td>@v.NumberOfSeats</td>
                <td><em>@v.Price</em></td>
                <td><a href="detail/@v.VehicleID"><button class="btn btn-warning" style="width: 100px; font-size: 16px;">View</button></a></td>
            </tr>
        }
    </tbody>
</table>