@model Vehicle

@{
    ViewData["Title"] = "Your Dream Car";
}


<br>
<fieldset class="vehicledetail-container">
    <h1>@ViewBag.VehicleDetail.Year @ViewBag.VehicleDetail.Make @ViewBag.VehicleDetail.Model</h1>
    <form asp-action="purchase" asp-route-id = "@ViewBag.VehicleDetail.VehicleID" asp-controller="Order" method="GET">
        <input type="submit" class="btn btn-success" value="Purchase" style="    width: 150px; margin-left: 40%; margin-right: 50%; font-size: medium;">
    </form>
    <br>
    <img src="@ViewBag.VehicleDetail.ImageUrl" style="border:2px solid white;"/>
    <h3>Color</h3> <h4>@ViewBag.VehicleDetail.Color</h4>
    <h3>Mileage</h3> <h4>@ViewBag.VehicleDetail.Mileage Miles</h4>
    <h3>Vehicle-Type</h3> <h4>@ViewBag.VehicleDetail.VehicleType</h4>
    <h3>Engine-Type</h3> <h4>@ViewBag.VehicleDetail.EngineType</h4>
    <h3>Number of Seats</h3> <h4>@ViewBag.VehicleDetail.NumberOfSeats</h4>
    <h3>Price</h3> <h4>@ViewBag.VehicleDetail.Price</h4>
    <br>
</fieldset>
