@model Vehicle

<fieldset class="vehicledetail-container">
    <h3>Year:</h3> <h4>@ViewBag.VehicleDetail.Year</h4>
    <h3>Make:</h3> <h4>@ViewBag.VehicleDetail.Make</h4>
    <h3>Model:</h3> <h4>@ViewBag.VehicleDetail.Model</h4>
    <h3>Mileage:</h3> <h4>@ViewBag.VehicleDetail.Color</h4>
    <h3>Color:</h3> <h4>@ViewBag.VehicleDetail.Mileage</h4>
    <h3>Vehicle-Type:</h3> <h4>@ViewBag.VehicleDetail.VehicleType</h4>
    <h3>Engine-Type:</h3> <h4>@ViewBag.VehicleDetail.EngineType</h4>
    <h3>Number of Seats:</h3> <h4>@ViewBag.VehicleDetail.NumberOfSeats</h4>
    <h3>Price:</h3> <h4>@ViewBag.VehicleDetail.Price</h4>
</fieldset>
